doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Lumen Spot is a service to help photographers find information about sunrise, sunset, and twilight times for desired locations. We provide information about current weather conditions and provide images for inspiration.')
    title Lumen Spot
    base(href='/')
    link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat:400,700,900', rel='stylesheet')
    link(rel='stylesheet', href='./css/main.min.css')
  body
    div#root !{react}
    script(src='./js/bundle.js')
    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC2UWTFpmkltPpI6xIiBMpiGIk5HZwZh_M')
