doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Lumen Spot
    meta(name='description', content='Lumen Spot is a service to help photographers find information about sunrise, sunset, and twilight times for desired locations. We provide information about current weather conditions and provide images for inspiration.')
    meta(property='og:title', content='Lumen Spot')
    meta(name='description', content='Lumen Spot is a service to help photographers find information about sunrise, sunset, and twilight times for desired locations. We provide information about current weather conditions and provide images for inspiration.', property='og:description')
    meta(property='og:image', content='https://github.com/bvellek/lumen-spot-app/blob/master/public/img/design/og-logo.png?raw=true')
    meta(property='og:image:type', content='image/png')
    meta(property='og:url', content='https://lumen-spot.herokuapp.com/')
    meta(property='og:type', content='website')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:creator', content='@BVellek')
    meta(name='twitter:title', content='Lumen Spot')
    meta(name='twitter:description', content='Lumen Spot is a service to help photographers find information about sunrise, sunset, and twilight times for desired locations. We provide information about current weather conditions and provide images for inspiration.')
    base(href='/')
    link(rel='shortcut icon', href='./img/favicon.ico', type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Cutive+Mono|Montserrat:400,700,900', rel='stylesheet')
    if process.env.NODE_ENV === 'production'
      link(rel='stylesheet', href='./css/main.min.css')
    else
      link(rel='stylesheet', href='./css/main.css')
  body
    div#root !{react}
    script.
      window.STATE_PUSHED = false;
      window.__PRELOADED_STATE__ = !{state};

    if process.env.NODE_ENV === 'production'
      script(src='./js/bundle.min.js')
    else
      script(src='./js/bundle.js')

    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC2UWTFpmkltPpI6xIiBMpiGIk5HZwZh_M')
