.landing-header {
  width: 100%;
  height: 20em;
  background: grey;
  display: flex;
  flex-direction: column;
}

.landing-nav {
  @include font-heading;
  display: flex;
  justify-content: flex-end;

  a {
    color: $white;
    padding: 0.5em;

    &:hover {
      color: $blue;
    }
  }
}

.logo-container {
  text-align: center;

}
