.landing-header {
  width: 100%;
  height: 40vh;
  min-height: 20em;
  max-height: 40em;
  background-image: url("../img/mountain-banner.jpg");
  background-size: cover;
  background-color: $purple10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-nav {
  @include font-heading;
  display: flex;
  justify-content: flex-end;

  a {
    color: $white;
    padding: 0.5em;
    margin: 1em 0.625em;

    &:focus {
      outline: 5px solid $focus-color;
    }
  }
}

.logo-container {
  max-width: 41em;
  width: 95%;
  margin: 0 auto;

  h1 {
    text-align: center;
    padding: 0 0.5rem;
    margin: 0;

    .svg-logo {
      width: 100%;
    }
  }
}
