.link-section {
  text-align: center;
  margin-top: $margin-before;
  margin-bottom: $margin-after*4;
  background-color: $light-grey;
  padding: 2em 0;

  a {
    @include font-heading(900);
    font-size: 2.5em;
    padding: 0.5em 0.5em;
    color: $link-purple;
    outline: 1px $link-purple solid;
    outline-offset: -0.25em;


    &:focus {
      outline: 1px solid $focus-color;
    }
  }
}
