.link-section {
  text-align: center;
  margin-top: $margin-before;
  margin-bottom: $margin-after;
  background-color: $light-grey;
  padding: 2em 0;

  a {
    @include font-heading(900);
    font-size: 2.5em;
    padding: 0.5em 0.2em;
    color: $link-purple;


    &:focus {
      outline: 1px solid $focus-color;
    }
  }
}
