.photo-slide-section {
  background-color: $light-grey;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: $margin-before;
  margin-bottom: $margin-after;

  //
  // img {
  //   max-width: 60em;
  //   width: 95%
  // }
}
