.pic-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .pic-fig {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      max-width: 27.5em;

      img {
        width: 100%;
        transition: 0.5s ease;

        &:hover, &:focus {
          outline: 3px solid $white;
          outline-offset: -1em;
        }
      }
    }


    figcaption {
      @include font-heading;

      .fig-num {
        @include font-mono;
      }
    }
  }
}
