.pic-section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .pic-fig {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      max-width: 27.5em;

      img {
        width: 100%;
        transition: 0.5s ease;

        &:focus,
        &:hover {
          outline: 3px solid $white;
          outline-offset: -1em;
        }
      }
    }

    figcaption {
      @include font-heading;

      .fig-num {
        @include font-mono;
      }
    }
  }
  
  @media only screen and (min-width: 58em) {
    flex-direction: row;
    flex-wrap: wrap;

    .pic-fig {
      margin: 1em;
    }
  }
}
