.sun-info-section {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  summary {
    @include font-heading;
    cursor: pointer;

    h3 {
      display: inline-block;
    }
  }

  table {

    border: 1px solid $light-grey;
    border-radius: 3px;
    padding: 1em;
    background-color: $white;

    tr {
      @include font-heading(400);
      text-transform: uppercase;
      font-size: 0.625em;

      td:nth-child(2) {
        @include font-mono(bold);
        font-size: 1.625em;
        padding-left: 2.5em;
        text-align: right;
      }
    }
    caption {
      caption-side : bottom;
      font-size: 0.8em;
    }

  }
}
