.weather-info-section {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-after;

  summary {
    @include font-heading;
    cursor: pointer;

    h3 {
      display: inline-block;
    }
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    // min-width: 20em;
  }

  figure {
    background: $white;
    width: 100%;
    margin: 0;
    text-align: center;
      img {
        padding: 1em;
      }
  }

  figcaption {
    width: 100%;
  }

  table {
    width: 100%;
    padding: 1em;
    background-color: $white;
    text-align: left;

    tr {
      @include font-heading(400);
      text-transform: uppercase;
      font-size: 0.625em;

      &:nth-child(4) td {
        vertical-align: top;
      }

      &:nth-child(5) {
        text-align: center;

        td {
          padding-top: 2em;
        }
      }

      td:nth-child(2) {
        @include font-mono(bold);
        font-size: 1.625em;
        padding-left: 2.5em;
        text-align: right;
        max-width: 13em;
        @media only screen and (min-width: $small-break) {
          font-size: 1.3em;
        }
      }
      @media only screen and (min-width: $small-break) {
        font-size: 0.9em;
      }
    }

    caption {
      caption-side: bottom;
      font-size: 0.8em;

      .wu-logo {
        width: 90px;
        display: block;
        padding-bottom: 1em;
      }
    }
  }
}
