.weather-info-section {
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;

  summary {
    @include font-heading;
    cursor: pointer;

    h2 {
      display: inline-block;
    }
  }

  .weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .wu-logo {
    width: 90px;
    display: block;
  }
}
