$white: #FFF;

$blue: #251EC6;

$focus-color: #555;

$text-color: #242021;

$purple10: saturate(#684D7D, 10%);

$light-purple: lighten(desaturate($purple10, 20%), 10%);

$link-purple: lighten($purple10, 5%);

$light-grey: lighten(saturate(#D0CEDD, 30%), 10%);
