

body {
  box-sizing: border-box;
  @include font-mono;
  color: $text-color;
}

h1,h2,h3,h4,h5,h6 {
  @include font-heading;
	line-height: 1.2;
}

h1 {
	font-size: 5.06em;
	font-weight: 900;
	margin-top: 0.53em;
	margin-bottom: 0.53em;
	text-transform: uppercase;
	font-family: 'Archivo Black';
}

h2 {
	font-size: 2.8em;
	font-weight: 900;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h3 {
	font-size: 2em;
	font-weight: 800;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

h4 {
	font-size: 1.5em;
	font-weight: 800;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h5 {
	font-size: 1.06em;
	font-weight: 700;
	margin-top: 0.94em;
	margin-bottom: 0.94em;
}

h6 {
	font-size: 1em;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1em;
}

p {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

ul,ol {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1.1em;
}

li {
  list-style: none;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


a {
  text-decoration: none;
}


button {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: $text-color;
    font-weight: bold;
    padding: 0.3em 0.8em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-top: 0.625em;
    @include font-heading;
}

button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
    background-color: #f6f6f6;
}

button:active {
    position: relative;
    top: 1px;
}
